* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    /* max-width: var(--ct-width);
    padding: 0 1.5rem;
    margin: 0 auto; */
    height: 100vh;
    font-family: var(--ft);
    font-size: var(--ft-size);
    line-height: 1.5;
  }
  
  /* -------------------------------------------------------------------------- */
  /*                                    form                                    */
  /* -------------------------------------------------------------------------- */
  form {
    /* width: 350px; */
  }
  
  form input {
    all: unset;
    border: var(--bd-width) var(--bd-style) var(--bd-muted);
    border-radius: var(--bd-radius);
    box-sizing: border-box;
    color: black;
    margin-top: 0.25rem;
    padding: 0.25rem 0.5rem;
    width: 100%;
  }
  input {
    all: unset;
    border: var(--bd-width) var(--bd-style) var(--bd-muted);
    border-radius: var(--bd-radius);
    box-sizing: border-box;
    color: black;
    margin-top: 0.25rem;
    padding: 0.25rem 0.5rem;
    width: 100%;
  }
  form button {
    width: 100%;
    border-color: black;
    background: var(--accent);
    color: var(--btn-color);
  }
  form button:hover {
    background: var(--secondary-color);
  }
  
  button {
    border: var(--bd-width) var(--bd-style) var(--bd-muted);
    border-radius: var(--bd-radius);
    background-color: var(--accent);
    color: var(--bg-color);
    margin-top: 0.25rem;
    padding: 0.25rem 0.75rem;
    font-size: var(--ft-size);
    cursor: pointer;
  }
  button:hover {
    border-color: black;
    background: var(--accent);
    color: var(--btn-color);
  }
  
  p, h1, h2, h3, label {
    color: var(--bd-muted);
  }
  
  hr {
    border: 1px solid black;
    width: 100%;
    color: black;
  }
  a {
    color: black;
    cursor: pointer;
  }
  
  /* table */
  
  table {
    display: block;
    max-width: 100%;
    margin: 0 auto 1rem;
    border-collapse: collapse;
    border-spacing: 0;
    inline-size: fit-content;
    overflow-x: auto
  }
  
  .table-responsive {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(0,1fr));
    overflow-x: auto
  }
  
  .table-responsive table {
    display: table
  }
  
  caption {
    margin-top: .5rem;
    caption-side: bottom;
    color: var(--muted)
  }
  
  tbody>tr:nth-child(2n) {
    background: var(--bg-muted)
  }
  
  td,th {
    padding: .375rem .8125rem;
    border: 1px solid var(--bd-muted)
  }
  
  th {
    border-color: var(--bg-contrast);
    background: var(--bg-subtle);
    font-weight: 700
  }
  
  table.center td,th {
    text-align: center
  }
  
  /* table */
  
  /* dialog */
  dialog>header:first-child {
  padding: 0 1rem 1rem;
  border-bottom: 1px solid var(--bd-muted);
  margin-right: -1rem;
  margin-left: -1rem
  }
  
  dialog>header:first-child>:is(h1,h2) {
  font-size: 1.25rem
  }
  
  dialog>footer:last-child {
  padding: 1rem 1rem 0;
  border-top: 1px solid var(--bd-muted);
  margin: 0-1rem
  }
  
  dialog>footer:last-child>form[method=dialog] {
  padding: 0;
  margin: 0;
  background: 0 0
  }
  
  dialog::backdrop {
  background: var(--backdrop)
  }
  
  /* dialog */
  
  
  button,input,select,textarea {
  display: block;
  box-sizing: border-box;
  border: 1px solid var(--bd-muted);
  border-radius: var(--bd-radius);
  margin-top: .25rem;
  background: var(--bg-default);
  color: black;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.5;
  transition: border-color var(--tr-duration)
  }
  
  select {
  width: 100%;
  padding: .35rem .5rem;
  text-transform: none
  }
  
  :root,
  [data-color-scheme="light"] {
    --secondary: #F5F5F5;
    --accent: #d0d7deb3;
    --tint: #D6F1F5;
    --light: #30b9cf;

    --btn-color: black;
  
    --ct-width: 1024px;
  
    --bg-color: white;
    --bd-muted: #d0d7deb3;
    --bg-subtle: #d0d7de;
    --bg-contrast: #24292f;
  
    --bd-style: solid;
    --bd-muted: black;
    --bd-radius: 8px;
    --bd-width: 1px;
  
    --ft: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --ft-size: 16px;
  }